<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Hello, World @Server.MachineName!</p>
        @{
            var fruit = new List<string> { "apples", "mangos", "pears" };
            <p>My Favorite fruits:</p>
            <ul>
                @foreach(string fruit in fruits)
                {
                    <li>@fruit</li>
                }
            </ul>
        }
    </body>
</html>
