<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Hello, World @Server.MachineName!</p>
        @{
            var fruit = new List<string> { "apples", "mangos", "pears" };
            <p>Fav fruits:</p>
            <ul>
                @foreach(string f in fruit)
                {
                    <li>@f</li>
                }
            </ul>
        }
    </body>
</html>
